.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}

.md-toolbar-tools {
  background-color: #3F51B5;
}

.login-input {
  padding-top: 3%;
  height: 64px;
}

.article_read {
  background-color: #8BC34A !important;
}